@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverUnderline {
	position: relative;
	display: inline-block;
}

.hoverUnderline::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 100%;
	height: 5px;
	border-block: 2px solid #3252DF;
	transform: scaleX(0.6);
	opacity: 0;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.hoverUnderline:hover::after,
.hoverUnderline:focus-visible::after {
	transform: scaleX(1);
	opacity: 1;
}

.activeUnderline {
	position: relative;
	padding-bottom: 0px; /* Tambahkan padding untuk memberi ruang bagi underline */
  }
  
  .activeUnderline {
	
	position: absolute;
	left: ;
	bottom: -10px; /* Pastikan garis berada tepat di bawah teks */
	width: 10%;
	height: 2px;
	background-color: #3252DF;
  }
  