name: Deploy Frontend

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Frontend to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          debug: true
          script: |
            echo "${{ secrets.VPS_SSH_KEY }}" | base64 -d > key.pem
            chmod 600 key.pem

            cd ${{ secrets.VPS_PATH }}

            echo "Updating frontend..."
            cd guest-house
            git pull
            cd ..

            docker compose build frontend
            docker compose up -d frontend

            docker image prune -f
